<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <style type="text/css">
        * {
            padding: 10px;
            margin: 10px;
            overflow: hidden;
            color: #0a237f;
            background: #ff342e;
        }
        
        h1 {
            font-size: 20px;
            font: montserrat;
            font-weight: 500;
            color: blue;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <h2>Hi guys!</h2>
    <p>You have joined the team!</p>
</body>

</html>